#about-me-section {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    justify-content: space-between;
}

#about-me-section .a-img-wrapper {
    flex-grow: 1 ;
    align-items: stretch;
    justify-content:  flex-start;
    flex-direction: column;

}

#about-me-section .full-img {
    margin-top : 30vh ;
    background-image: url(/image/my-pic.jpg);
    width: 100vw;
    height:  100vh; 
    display: flex; 
    align-items: stretch;
    justify-content: flex-start;
    background-position: left;
    background-size:contain ;
    background-repeat: no-repeat;
}

#about-me-section .ab-border {

    display : flex ;
    flex-direction: column;
    align-items: stretch;
    margin-top : 1rem ;
    align-self:flex-end;
    width: 100vw; 
    height: 100vh;
    
   
}
.space {
 
    margin-top: 5vh ;
    font-size: 26px ;
    margin-right: 2vw;
    margin-left: 6vw;
    
}
.sub-space {
    margin-left: 6vw;
    margin-right: 2.2vw;
    margin-top: 2vh; 
    font-size : 18px ;
    float: left;
}

.content {
    margin-left : 6vw;
    font-size : 12px ;
}

    .sub-space-highlight {
    display: flex;
    flex-direction: row;
    margin-top: 2vh; 
    font-size : 18px ;
    color: wheat;
    display: inline-block;

}
.space-border {
    width: 100vh;
    display: inline-block;
    margin-top:1vh;
}

.second-btn {
    font-size : 16px;
    color: black ;
    text-decoration: none;
    padding: 4vh 1vw 4vh 1.2vw;
    border-radius: 10px;
    border: solid black 1px;
    background-color: #FADEC7;
    width: 19.7vw;
    margin-left : 6vw ; 
}
.second-btn:hover {
    background-color: white;
}

  
@media(max-width : 767px) {
    .home-main-section {
        display: none;
    }
    .home-main-section .img-wrapper {
        display: none;
    }
    .home-main-section .myself-image {
    
        display: none;
    }
    .home-main-section .call-to-action {
        display: none;
    }

      .subtitle2 ,.title , .subtitle {
          display : none ;
      }
      
    #about-me-section {
        align-items: center;
        transform: translateY(100px);
        height: 100%;
      
    }
    #about-me-section .a-img-wrapper {
        display:none ;
    }

    #about-me-section .full-img {
        position: absolute;
        width: 100%;
        height: 70%;
         transform: translateY(-180px);
         background-position: center;
    }
    #about-me-section .ab-border {
        position: relative;
        transform: translateY(72vh);
        display: block;
        width: 100%;
    }

   .space {
        margin-left:  0; 
       align-items: flex-start;
       width: 100%;
       position: relative !important;
       display: flex;
       font-size: 20px;
   }
   .space-border {
       align-items: center;
       width: 100%;
      
       

   }
   .sub-space {
       position: relative;
       justify-content: flex-start;
       font-size: 16px;
       display: flex;
        margin-left: 0px;

   }
   .sub-space-highlight {
    display: flex;
    align-items: flex-start;
    font-size: 16px ;
    margin-right: 30px;

    transform: translateX(-5px);
   }

.content {
    margin-top: 20px;
       display: flex;
        justify-content: stretch;
        align-items: flex-start;
       font-size: 12px;
       line-height: 1.5rem;
       width: 100%;
       margin-left: 0;
   
   }
   .second-btn {
    font-size : 10px;
    width: 11rem;
    height: 10mm;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
   }
}

@media (min-width : 768px ) and (max-width : 1280px) {
    .space {
        position: relative;
        align-items: flex-start;
        width: 100%;
    }
    .sub-space-highlight {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-right: 90px;
        transform: translateX(-30px);

         /* border: #FADEC7 1px solid;  */
    }
    .sub-space {
        position: relative;
        display: inline;
        align-items: flex-start;
        width: 30%;
        

    }
    .content {
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        transform: translateX(0px);
    }
    .second-btn {
        font-size : 10px;
        width: 11rem;
        height: 10mm;
        display: flex;
        align-items: center;
        justify-content: center;
     
       }
    #about-me-section .a-img-wrapper {
        border: #FADEC7 1px solid;
    }

    #about-me-section .full-img {
         height:  80vh; 
         display: flex; 
         background-position: top;
         transform: translateY(-50px);
    }

    #about-me-section .ab-border{
        width: 60vw;

    }
}