.hobbies-section {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    justify-content: flex-start;
    
}
.border {
    width: 100%;
    
 
}
.contents-title {
    margin-top : 187.5px ;
    font-size: 3vw;
    color: white ;
    margin-bottom: 10vh;
}

.bar2 {
    /* border : 1px black solid ; */
    height: 15vh;
    
}

.space-bar {
    display: inline-block;
    width: 1vh;
    margin-left: 24.25vw;
}
.hobbies-rectangle {
   
    background-color: white;
    width : 21.4vw;
    height: 7.4vh; /*top left bottom right */
    border : solid #fadec7 0.1vw ;
    stroke : #Fadec7 ;
    border-radius: 10px;
    color: black;
    font-size : 20px;
    margin-left : 5.5vw;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
  

    
}

.hobbies-long-rectangle {
   
    background-color: white;
    width : 25.4vw;
    height: 7.4vh; /*top left bottom right */
    border : solid #fadec7 0.1vw ;
    border-radius: 10px;
    color: black;
    font-size : 20px;
    margin-left : 31.5vw;
   align-items: center;
   justify-content: center;
    display: flex;
    margin-bottom: 40vh;
    
}

.picborder {
    border : solid black 1px; 
    display: flex ;
    height: 30px;
    width: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    padding-top : 2vh ;
}

@media (max-width : 767px) {
    .hobbies-section {
        align-items: center;
        margin-top: 15rem;
      
    }

.contents-title {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 2vh;
    margin-top: 15vh;
}    
    .hobbies-rectangle {
        
        width : 70%;
        position: relative;
        font-size: 10px;
        margin-top: 20px;
        margin-left: 57px;

    }
    .bar2 {
        display: none;
    }
    
    .hobbies-long-rectangle {
        width: 70%;
        margin-left: 57px;
        font-size: 10px ;
        margin-top: 5px;
    }
}