#skills-section {
    display: flex;
    flex-grow : 1 ;
    align-items: stretch;
    justify-content: space-between;
    z-index: -1;
}

.skills-margin{
    margin-top : -20vh; 
}

.skills-rectangle {
    height: 8.3vh;
    width : 15vw ;
    background-color: white;
    border: 1px black solid ;
    border-radius: 0.52vw;
    margin-top : 5vh;
    margin-bottom : 10vh;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7vw;
    text-decoration: none;
    color: black;
}

.sub-skill-margin {
    margin-top : 20vh;
}

.soft-skills {
    position: relative;
     font-size : 30px ;
     display: flex ;
     align-items: flex-start;
     justify-content: flex-start;
     margin-left : 20px ;

     z-index: -1;
    }
.sub-soft-skills {
    font-size: 20px;
    margin-left : 40px ;
    line-height: 3;
    z-index: -1;
}
.hard-skills {
     position: relative;
     font-size : 30px ;
     display: flex ;
     align-items: flex-start;
     justify-content: flex-start;
     margin-left : 20px ;
     z-index: -1;
}
.sub-hard-skills {
    font-size: 20px;
    margin-left : 40px ;
    line-height: 3;
    z-index: -1;
}
.skill-active , .skills-rectangle:hover {
    color : gray ;
}

.content-title ul a.skill-active {
    color : gray ;
}
#slide-carousel {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    align-items: flex-start;
    z-index: -1;
    width: 30% ;
    margin-left: 35vw;
    height:100vh;
    margin-top : -80vh;
}   
#slide-carousel-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: -1;
    width: 100% ;
    margin-left: 35vw;
    height:100vh;
    margin-left: 60vw;
    margin-top: -100vh;
}   
}
