@font-face {
    font-family: 'ASTRO';
    src: url('ASTROSPACE-EZ2BG.TTF');
}
*, *::before , *::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0; 
    margin : 0 ;
    background-color: #2F303A;
    font-family: 'ASTRO' , sans-serif ;
    min-height: 100vh;
}
p {
    color: white ;
    font-size: 0.95vw ;
    line-height: 2.5vw;
}
span {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  .nav {
    height: 90px;
    width: 100% ;
    background-color: #2F303A;
    position: fixed ;
    margin-top: 0px ;
    left: 0;
  }
  
  .nav.sticky {
    background-color: white;
  }
  .nav > .nav-header > .logo1 {
    width: 56px;
    height: 59px;
    background-image: url('/image/logo1.png');
    position: relative;
    background-repeat: no-repeat;
    margin-top: 20px;
    transform: translateX(130px); 
}

  .nav.sticky >  .nav-header > .logo1 {
    background-image: url('/image/logo2.png');
  }

  .nav > .nav-header {
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start ;
    cursor: pointer;
    width: 20%;
    position: relative;
  }
  
  .nav > .nav-header > .nav-title {
 
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    margin-top: 25px;
    transform: translateX(130px);
    
  }
  
  .nav.sticky > .nav-header > .nav-title {
    color: #2f303a;
  }
  
  .nav > .nav-header > .nav-title:hover {
    color: #FADEC7;
  }

  .nav.sticky > .nav-header > .nav-title:hover {
    color: gray;
  }


  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    margin-top: -50px;
    margin-right: 200px;
  }
  
  .nav > .nav-links > a {
     font-size: 14px;
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    transform: translateX(130px);

  }

  .nav > .nav-links > a.active {
    color : #FADEC7
  }
  nav.sticky > .nav-links > a {
    
    color: #2F303A;
  }
  
  .nav > .nav-links > a:hover {
    color:#FADEC7 ;
  }
  .nav.sticky > .nav-links > a:hover {
    color:gray ;
  }
  .nav.sticky > .nav-links > a.active {
    color:gray ;
  }
  
  
  .nav > #nav-check {
    display: none;
  }
  
.container {
    max-width: 1200px;
    margin : 0 auto ;
    padding: 0 40px ;
}

.title {
    width: 71.5vw;
    height: auto;
    font-size : 2vw ;
    margin-bottom: 1rem;
    color: white ;
    
  
}

.subtitle {
    width: 810px;
    height: auto;
    font-size: 1.09vw; 
    display: flex;
    justify-content: flex-start ;
    align-items: flex-start;
    color: #FFFFFF;
    margin-bottom: 1rem ;
}
.subtitle2 {
    font-size: 1.46vw;
    margin-bottom: 0px;
   margin-top: 140px ;
}

.btn {
font-size: 1.46vw;
color:black ;
background-color: #FADEC7;
padding: 2.415vw 3.733vw 2.415vw 3.733vw;
border-radius: 10px ;
border : solid black 1px ;
text-decoration: none;
margin-top : 10px ;
}

.btn:hover {
  background-color: white;
}
.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
   z-index: -1;
}
.home-main-section .img-wrapper {
    flex-grow: 1 ;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.home-main-section .myself-image {
    background-image: url(/image/image-removebg-preview.png);
    flex-grow: 1 ;
    max-height: 100vh;
    min-width: 60vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;   
    margin-left: -50vw;
   
}

.home-main-section .call-to-action {
    display : flex ;
    flex-direction: column;
    align-items: flex-start;
    margin : 1rem ;
    align-self: center;
    
}


@media (max-width:767px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative !important;
  }
    .home-main-section .img-wrapper {
        display: none ;
    }

    .home-main-section {
      display: inline-block;
        /* border: 1px solid white; */
        position: relative;
   
    }
    .subtitle {
      display: none;
    }

    .title {
      display: none;
    }
    .btn {
      display: none ;
    }

    .subtitle2 {
      display: none;
 
    }
    .logo1 , .brand-logo {
        display: none;
    }
    .logo-nav-toggle {
        width: 56px;
        height: 59px;
        margin-top: 160px;
        margin-left: 20px;
        background-image: url('/image/logo1.png');
        background-repeat: no-repeat;
    }

    .nav {
      position: fixed;
      margin-left: 0px;
      height: 10%;
      z-index: 1000;
    }
    .nav > .nav-header > .nav-title  {
      transform: translateX(50px);
      font-size: 22px;
      margin-top: 15px;
    }
  
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        margin-top: 10px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        transform: translateX(-50px);
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        color: gray ;
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
        cursor: pointer;
      }
      .nav.sticky > .nav-btn > label > span {
        border-top: 2px solid #2F303A;
      }
      .nav > .nav-links {
        position: absolute; 
        margin: 0px;
        display: block;
        width: 100%;
        background-color: #2f303a;
        height: 0px;
        transition: all 0.5s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;  

      }

      .nav.nav.sticky > .nav-links { 
          background-color: white;
   
          
      }
      .nav > .nav-links > a {
        margin-top: 10px;
        display: block;
        width: 50%;
        align-items: center ;
        position: relative;
        transform: translateX(55px);
   
      }
      .nav.sticky > .nav-links > a { 
        color: #2F303A;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
       
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 340px);
        overflow-y: hidden;
        background-color: #000;
      }
      .nav > #nav-check:checked ~ .nav-header {
        width: 100%;
        background-color: #000;
      }
      .nav.sticky > #nav-check:checked ~ .nav-links {
      
        background-color: #FFF;
      }
      .nav.sticky > #nav-check:checked ~ .nav-header {
        width: 100%;
        background-color: #FFF;
      }
      .nav.sticky {
        height: 60px;
      }
      nav.sticky > .nav-links > a {
    
        color: white;
      }
}

@media (min-width : 768px ) and (max-width : 1280px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative !important;
  }
  .logo1 , .brand-logo {
    display: none;
}
.logo-nav-toggle {
    width: 56px;
    height: 59px;
    margin-top: 160px;
    margin-left: 20px;
    background-image: url('/image/logo1.png');
    background-repeat: no-repeat;
}

.nav {
  position: fixed;
  margin-left: 0px;
  height: 10%;
  z-index: 1000;

}
.nav > .nav-header > .nav-title  {
  transform: translateX(50px);
  font-size: 22px;
  margin-top: 15px;
}

.nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 10px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    transform: translateX(-50px);
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    color: gray ;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    cursor: pointer;
  }
  .nav.sticky > .nav-btn > label > span {
    border-top: 2px solid #2F303A;
  }
  .nav > .nav-links {
    position: absolute; 
    margin: 0px;
    display: block;
    width: 100%;
    background-color: #2f303a;
    height: 0px;
    transition: all 0.5s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;  

  }

  .nav.nav.sticky > .nav-links { 
      background-color: white;

      
  }
  .nav > .nav-links > a {
    margin-top: 10px;
    display: block;
    width: 50%;
    align-items: center ;
    position: relative;
    transform: translateX(55px);

  }
  .nav.sticky > .nav-links > a { 
    color: #2F303A;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;

  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 340px);
    overflow-y: hidden;
    background-color: #000;
  }
  .nav > #nav-check:checked ~ .nav-header {
    width: 100%;
    background-color: #000;
  }
  .nav.sticky > #nav-check:checked ~ .nav-links {
  
    background-color: #FFF;
  }
  .nav.sticky > #nav-check:checked ~ .nav-header {
    width: 100%;
    background-color: #FFF;
  }
  .nav.sticky {
    height: 60px;
  }
  nav.sticky > .nav-links > a {

    color: white;
  }
}
